/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:0 15px;
    width: auto;
    box-sizing: border-box;
    padding: 5px 15px;
    margin:0 auto;
}
.theme-switch-wrapper  span{
    font-size: 1.5rem;
}
.theme-switch-wrapper  .Dark{
   color: var(--primary);
}
.theme-switch-wrapper  .Light{
    color: var(--secondary);
 }
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.theme-switch input {
    display: none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}
input:checked + .slider {
    background-color: black;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
