.container{
    display: grid;
    gap:0;
    grid-template-columns: 25% 75%;
    height: 100vh;
}
.container  .leftBar{
    height: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.container  .pageContent{
    height: auto;
}
footer{
    background: var(--accent);
}